<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.amarcus.safari.piper</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0.3</string>
			<key>CFBundleVersion</key>
			<string>219</string>
			<key>Developer Identifier</key>
			<string>BQ6Q24MF9X</string>
			<key>URL</key>
			<string>https://s3.amazonaws.com/piper-extension/PiPer.safariextz</string>
			<key>Update From Gallery</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
