<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Adam Marcus</string>
	<key>Builder Version</key>
	<string>12602.4.8</string>
	<key>CFBundleDisplayName</key>
	<string>PiPer</string>
	<key>CFBundleIdentifier</key>
	<string>com.amarcus.safari.piper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0</string>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>scripts/main.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Adds Picture in Picture functionality to Youtube, Netflix, Amazon Video, Twitch, and more!</string>
	<key>DeveloperIdentifier</key>
	<string>BQ6Q24MF9X</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Update Manifest URL</key>
	<string>https://s3.amazonaws.com/piper-extension/update.plist</string>
	<key>Website</key>
	<string>https://github.com/amarcu5/PiPer/</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.amazon.co.uk</string>
				<string>*.amazon.com</string>
				<string>*.amazon.fr</string>
				<string>*.amazon.de</string>
				<string>*.amazon.ca</string>
				<string>*.netflix.com</string>
				<string>netflix.com</string>
				<string>*.youtube.com</string>
				<string>youtube.com</string>
				<string>*.twitch.tv</string>
				<string>twitch.tv</string>
				<string>*.metacafe.com</string>
				<string>metacafe.com</string>
				<string>*.openload.co</string>
				<string>openload.co</string>
				<string>*.vevo.com</string>
				<string>vevo.com</string>
				<string>*.collegehumor.com</string>
				<string>collegehumor.com</string>
				<string>vid.me</string>
				<string>*.vid.me</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
